.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}
.grid-row {
    margin-bottom: 15px;
}
.grid-container {
    position: absolute;
    z-index: 1;
}
.tile {
    width: 107px;
    height: 107px;
    line-height: 107px;
}


.field {
    z-index: 50;
  }
  .row, .grid_row {
    width: 510px;
    height: 135px;
    position: relative;
    display: table-row;
  }
  .cell, .grid_cell {
    background-color: white;
    width: 125px;
    height: 125px;
    position: relative;
    display: table-cell;
    border-radius: 0px;
    border: 5px solid #888;
    text-align: center;
    vertical-align: middle;
    font-family: nunito;
    font-size: 50px;
  }
  .grid {
    z-index: 100;
  }